body > section {
    position: absolute;
    display: flex;
    justify-content: stretch;
    flex-direction: column;

    &#gba-video {
        top: 0;
        left: 0;
        height: calc(66.66vh - 5px);
        width: calc(99.99vh - 5px);

        > div {
            background-color: transparent;
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    &#next-to-video {
        top: 0;
        right: 0;
        height: 66.66vh;
        width: calc(100% - 99.99vh);

        > div {
            flex: 0;
        }

        > div:nth-child(1) {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }

    &#youtube-chat {
        bottom: 0;
        left: 0;
        height: 33.34vh;
        width: 12vw;
    }

    &#shiny-log {
        bottom: 0;
        left: 12vw;
        height: 33.34vh;
        width: 30.5vw;
    }

    &#encounter-log {
        bottom: 0;
        left: 42.5vw;
        height: 33.34vh;
        width: 24.5vw;
    }

    &#phase-stats-and-party {
        bottom: 0;
        left: 67vw;
        height: 33.34vh;
        width: 16.5vw;
    }

    &#total-stats {
        bottom: 0;
        left: 83.5vw;
        height: 33.34vh;
        width: 16.5vw;
    }
}
