#section-checklist {
    #section-progress-bar {
        background-color: var(--section-progress-unfilled-colour);
        border-radius: .5vh;
        width: 100%;
        height: .4vh;
        position: relative;
        margin: -.5rem 0 .3rem;

        > div {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-radius: .5vh;

            &.green {
                background-color: var(--section-progress-completed-colour);
            }

            &.yellow {
                background-color: var(--section-progress-progress-colour);
            }
        }
    }

    ul {
        list-style: none;
        margin: 0 0 .8vh 1vh;
        padding: 0;

        li {
            display: inline-block;
            border: 1px solid var(--separator-line-colour);
            border-radius: 10px;
            width: 5.59vh;
            text-align: center;
            margin: 3px;
            padding: .4vh 0;

            > pokemon-sprite img {
                height: 4vh;
                transform: scale(.9);
            }

            > span {
                position: relative;
                display: block;
                font-size: .75rem;

                img {
                    position: absolute;
                    bottom: 0;
                    right: .2em;
                    height: 1em;
                    width: 1em;
                    vertical-align: middle;
                    margin-left: .5em;
                }

                small {
                    font-size: .66rem;
                    opacity: var(--muted-font-opacity);
                }
            }

            background-color: var(--lighter-background-colour);

            .tick {
                display: none;
            }

            &.completed {
                background-color: var(--success-background-colour);

                .tick {
                    display: inline-block;
                }
            }
        }
    }
}
